{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  },
  "globals": {
    "cy": true
  },
  "rules": {
    "react/prop-types": 0
  },
  "env": {
    "node": true,
    "browser": true
  }
}
